<span class="pat-relateditems-item pat-relateditems-type-<%= Type %>">
 <span class="pat-relateditems-result-image">
   <img src="<%= getURL %>/@@images/image/tile" />
 </span>
 <span class="pat-relateditems-item-title"><%= Title %></span>
 <span class="pat-relateditems-item-path"><%= path %></span>
</span>'
