<span class="pattern-relateditems-item pattern-relateditems-type-<%= Type %>">
 <span class="pattern-relateditems-result-image">
   <img src="<%= getURL %>/@@images/image/tile" />
 </span>
 <span class="pattern-relateditems-item-title"><%= Title %></span>
 <span class="pattern-relateditems-item-path"><%= path %></span>
</span>'
