@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/font-awesome/less/mixins.less";

.pat-structure {
    table{
        margin-bottom: 0;
    }
    .navbar {
        margin-bottom: 5px;

        .btn-group.addnew, #selected{
            margin-left: 5px;
        }
    }
    .table th, .table td {
        padding: 4px;
    }

    label.checkbox{
        float: left;
    }

    .contextmenu {
        display: none;
        position: fixed;
        z-index: 10000;

        ul{
            display:block;
            position:static;
            margin-bottom:5px;
        }
    }
    .contextmenuactive{
        outline: 1px dashed orange;
    }

    .navbar-search{
        margin-top: 5px;
    }
    .alert.status{
        margin-bottom: 5px;
        height: 14px;
        padding: 8px;
    }
}

.pat-structure {

    .popover {
        min-width: 111px;
        max-width: 500px;

        .popover-title {

            padding-bottom: 0;
            input {
                margin-bottom: 0;
            }
            .remove-all {
                display: inline-block;
                clear: left;
                margin-top: 5px;
                margin-left: 6px;

                &:before {
                    padding-right: 5px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
        &.active {
            display: block;
        }
    }

    .clear{
        clear:both;
    }

    .pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .pattern-pickadate-date{
        width: 200px;
    }

    .pattern-pickadate-wrapper .pattern-pickadate-time-wrapper .pattern-pickadate-time{
        width: 120px;
    }
}

.popover.selected {
    .items {
        max-height: 300px;
        overflow-y: auto;

        .selected-item {
            display: block;
            margin: 0 8px 3px 0;
            border-radius: 6px;
            padding: 4px 6px;

            &:hover {
                background-color: #f2f2f2;
            }

            a:hover {
                text-decoration: none;
            }

            a:before {
                .icon(@remove-sign);
                color: #999;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.popover.query {
    width: 700px;
    max-width: 700px;
}

.popover.rename {
    width: 400px;

    .popover-content{
        max-height: 500px;
        overflow-y: scroll;
    }
    input{
        width: 100%;
        height: 24px;
        line-height: 110%;
        font-size: 110%;
    }
    div.item{
        border-bottom: 1px solid #0E6EB0;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
}

.popover.columns{
    ul{
        list-style: none;
        margin: 0 0 10px 0;

        li{
            list-style: none;
            cursor: move;
            border: 1px solid #DDD;
            border-bottom: none;
            padding: 3px 7px;

            label{
                margin-bottom: 0;
            }
        }

    }

}


.structure-dropzone{
    position: relative;

    .dropzone-previews{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #DDD;
        opacity: 0.8;
        height: 100%;
    }
    .dz-notice{
        display: none;
    }
}

.structure-dropzone.dz-drag-hover{
    opacity: 0.6;
}
.structure-dropzone.dropping {
    .dropzone-previews{
        display: block;
    }
}

.order-support tbody tr{
    cursor: move;
}

.structure-dragging{
    outline: 1px dashed black;
}


.backdrop-popover {
    background-color: #fff;
    z-index: 1009;
}
