@import "mixins.less";
@import (reference) "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "@{pathPrefix}../bower_components/bootstrap/dist/fonts/";

@font-face {
  font-family: 'fontello';
  src: url('@{pathPrefix}less/fonts/plone-fontello.eot?44831494');
  src: url('@{pathPrefix}less/fonts/plone-fontello.eot?44831494#iefix') format('embedded-opentype'),
       url('@{pathPrefix}less/fonts/plone-fontello.woff?44831494') format('woff'),
       url('@{pathPrefix}less/fonts/plone-fontello.ttf?44831494') format('truetype'),
       url('@{pathPrefix}less/fonts/plone-fontello.svg?44831494#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

#toolbar-menuitem-folderContents > a > .toolbar-icon:before { content: '\e803'; }
#toolbar-menuitem-view > a > .toolbar-icon:before { content: '\e805'; }
#toolbar-menu-edit > a > .toolbar-icon:before { content: '\e806'; }
#toolbar-menu-local_roles > a > .toolbar-icon:before { content: '\e808'; }
#toolbar-menu-workflow > a > .toolbar-icon:before { content: '\e809'; }
#toolbar-menu-factories > a > .toolbar-icon:before { content: '\e807'; }
#toolbar-menu-moreoptions > a > .toolbar-icon:before { content: '\e80c'; }
#toolbar-menu-personaltools > a > .toolbar-icon:before { content: '\e802'; }
#toolbar-icon-back a > .toolbar-icon:before { content: '\e80a'; }

.pat-toolbar {

  .toolbar-menu {
    background: rgba(35,35,35,1);
    color: #FFF;

    a {
      color: #FFF;
      margin: 0;
      line-height: 2em;
      font-size: 1.2em;
      text-decoration: none;
      display: inline-block;
      width: 100%;

      .toolbar-icon {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin: 0 0.5em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
      }
    }
  }

  .toolbar-logo {
    background-color: transparent;

    .plone-logo {
      background-color: transparent;
      .plone-logo-circle { background: rgba(35,35,35,1); }
      .plone-logo-innerCircle { background: rgba(255,255,255,1); }
      .plone-logo-innerCircle > span { background: rgba(35,35,35,1); }
    }
  }

}
