ul.select2-results {
  li.select2-highlighted {
    color: #999;
    background: #ddd;
  }
}
.pat-relateditems-result {
  padding-left: 25px;

  .pat-relateditems-result-browse {
    margin-left: -23px;
  }
}
