!devsrc/.gitkeep
.env
.vscode
/docs/external/pat-*
/docs/external/patternslib
/docs/mockup/coverage
/docs/patternslib/
/src/pat/modal/modal.css
/src/pat/relateditems/relateditems.css
/src/pat/tinymce/tinymce.css
/stamp-npm
/yarn-error.log
devsrc/*
dist/
docs/_site
docs/mockup/patterns
node_modules/
stamp-yarn
stats.json
