dist/
docs/mockup/patterns
docs/_site
node_modules/
stamp-yarn
stats.json
.vscode
/docs/mockup/coverage
/mockup.egg-info
/mockup/coverage
/yarn-error.log
/stamp-npm
/docs/external/patternslib
/docs/external/pat-*
devsrc/*
!devsrc/.gitkeep
/docs/patternslib/
