[submodule "src/plone.app.tiles"]
	path = src/plone.app.tiles
	url = git://github.com/plone/plone.app.tiles.git
[submodule "src/plone.app.deco"]
	path = src/plone.app.deco
	url = git://github.com/plone/plone.app.deco.git
[submodule "src/plone.app.toolbar"]
	path = src/plone.app.toolbar
	url = git://github.com/plone/plone.app.toolbar.git
[submodule "src/less/elements"]
	path = src/less/elements
	url = git://github.com/dmitryf/elements.git
[submodule "src/less/bootstrap"]
	path = src/less/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "build"]
	path = build
	url = git://github.com/garbas/plone-mockup.git
