recursive-include mockup/js *
recursive-include mockup/less *
recursive-include mockup/lib *
recursive-include mockup/patterns *
recursive-include mockup/docs *
include *
include mockup
global-exclude *.pyc