@isBrowser: false;
@pathPrefix: '';
@isMockup: true;
// Plone toolbar colors. Will be overwritten.
@plone-link-color:                          #007bb3;
@plone-toolbar-published-color:             @plone-link-color;
@plone-toolbar-draft-color:                 #fab82a;
@plone-toolbar-pending-color:               #e2e721;
@plone-toolbar-private-color:               #c4183c;
@plone-toolbar-internal-color:              #fab82a;
@plone-toolbar-internally-published-color:  #883dfa;
