@import "mixins.less";
@import "plonetoolbar.less";
@import "@{mockupPath}/autotoc/pattern.autotoc.less";
@import "@{mockupPath}/pickadate/pattern.pickadate.less";
@import "@{mockupPath}/modal/pattern.modal.less";
@import "@{mockupPath}/select2/pattern.select2.less";
@import "@{mockupPath}/relateditems/pattern.relateditems.less";
@import "@{mockupPath}/tinymce/less/pattern.tinymce.less";
@import "@{mockupPath}/querystring/pattern.querystring.less";
@import "@{mockupPath}/structure/less/pattern.structure.less";

@icon-font-path: "@{bowerPath}/bootstrap/dist/fonts/";

.modal.fade.in>.modal-dialog {
  z-index: 1010;
}

.popover-content.items li{
  display: inherit;
}
