<div id="buttons">
    <button class="newfolder btn" name="newfolder" type="button">New folder</button>
    <button class="addnew btn" name="addnew" type="button">New file</button>
    <button class="upload btn" name="upload" type="button" value="Upload">Upload file</button>
    <button class="save btn" name="save" type="button">Save file</button>
</div>
<div class="container">
    <div class="filelist">
    </div>
    <div class="fileeditor">
        <ul class="fileselector">
        </ul>
        <ul class="editors">
        </ul>
    </div>
</div>
