//*// TOOLBAR EDIT ZONE PLONE //*//

// might get overridden later by plone registry stored variables!
@import "variables.scss";

body.plone-toolbar-left {
    padding-left:$plone-toolbar-width-collapsed;

    .offcanvas-pin,
    .offcanvas-unpin {
        display:none;
    }

    @include media-breakpoint-up(md) {
        .offcanvas-pin {
            display:block;
        }

        &.plone-toolbar-left-expanded {
            .offcanvas-dismiss,
            .offcanvas-pin,
            .offcanvas-toggler {
                display:none;
            }
            .offcanvas-unpin {
                display:block;
            }
            padding-left:$plone-toolbar-width;
            #edit-zone {
                // show offcanvas always if expanded
                visibility:visible !important;
                transform:none;
                transition:none;
            }
        }
    }

}


.offcanvas-toggler {
    width:$plone-toolbar-width-collapsed;
    position:fixed;
    top:0;
    left:0;
    border-right:solid 1px $plone-gray-light;

    &.bg-dark {
        background-color:$plone-toolbar-bg;
    }

    .toggler-header {
        background-color:$plone-toolbar-link;
        padding:calc($spacer * .5);
        a {
            color:$plone-toolbar-text-color;
        }
    }
}

#edit-zone {
    // font-family: $plone-toolbar-font-primary;
    width: $plone-toolbar-width;
    z-index: 20;
    border-right:solid 1px $plone-gray-light;
    overflow-y: auto;

    .nav-link {
        border-radius:0;
        color:var(--bs-body-color);

        &.locked {
            color:$plone-toolbar-locked-color !important;
        }

        &.dropdown-toggle {
            padding-bottom:0.25rem;
        }
    }

    .collapse, .collapsing {
        .nav-link {
            padding:0.25rem 1rem;
        }
    }

    .border-top {
        border-top-color:darken($plone-toolbar-separator-color, 80%);
    }

    &.bg-dark {
        color:$plone-toolbar-text-color;
        background-color:$plone-toolbar-bg;
        border-right:none;

        .border-top {
            border-top-color: $plone-toolbar-separator-color;
        }

        .nav-link {
            color: color-contrast($plone-toolbar-link);
            &:focus {
                background: $plone-toolbar-link;
            }
            &:hover {
                background: $plone-toolbar-link;
                color: color-contrast($plone-toolbar-link);
                .label-state-published,
                .label-state-external {
                    color: lighten($plone-link-color, 10%) !important;
                }
            }
        }
    }
    .offcanvas-header {
        background-color:$plone-toolbar-link;
        padding:calc($spacer * .5) $spacer;
    }

    .label-state-published,
    .label-state-external {
        color: $plone-toolbar-published-color !important;
    }

    .label-state-internally_published {
        color: $plone-toolbar-internally-published-color !important;
    }

    .label-state-pending {
        color: $plone-toolbar-pending-color !important;
    }

    li.active .label-state-pending,
    .label-state-pending:hover {
        color: $plone-toolbar-text-color !important;
    } //contrast

    .label-state-draft,
    .label-state-internal {
        color: $plone-toolbar-draft-color !important;
    }

    .label-state-private {
        color: $plone-toolbar-private-color !important;
    }
}
