//*// TOOLBAR EDIT ZONE PLONE //*//

// might get overridden later by plone registry stored variables!
@import "variables.scss";

body.plone-toolbar-left {
    padding-left:$plone-toolbar-width-collapsed;

    @include media-breakpoint-up(md) {
        padding-left:$plone-toolbar-width;
    }

}


.offcanvas-toggler {
    width:$plone-toolbar-width-collapsed;
    position:fixed;
    top:0;
    left:0;
    .toggler-header {
        background-color:$plone-toolbar-link;
    }
}

#edit-zone {
    // font-family: $plone-toolbar-font-primary;
    width: $plone-toolbar-width;
    z-index: 20;

    .offcanvas-header {
        background-color:$plone-toolbar-link;
    }

    @include media-breakpoint-up(md) {
        // show offcanvas always
        visibility:visible !important;
        transform:none;
        transition:none;
        border-right:none;
    }

    a.nav-link {
        &:focus {
            background: $plone-toolbar-link;
	    color: color-contrast($plone-toolbar-link);
        }
        &:hover {
            background: $plone-toolbar-link;
            color: color-contrast($plone-toolbar-link);
            .label-state-published,
            .label-state-external {
                color: lighten($plone-link-color, 10%) !important;
            }
        }
    }

    .label-state-published,
    .label-state-external {
        color: $plone-toolbar-published-color !important;
    }

    .label-state-internally_published {
        color: $plone-toolbar-internally-published-color !important;
    }

    .label-state-pending {
        color: $plone-toolbar-pending-color !important;
    }

    li.active .label-state-pending,
    .label-state-pending:hover {
        color: $plone-toolbar-text-color !important;
    } //contrast

    .label-state-draft,
    .label-state-internal {
        color: $plone-toolbar-draft-color !important;
    }

    .label-state-private {
        color: $plone-toolbar-private-color !important;
    }
}
