
.resources.list-group{
    .list-group-item-warning{
        position: relative;

        input{
            width: 224px;
            position: absolute;
            right: 3px;
            top: 3px;
        }
    }
}