@import url("@{bowerPath}/bootstrap/less/variables.less"); // Modify this for custom colors, font-sizes, etc
@icon-font-path: "@{bowerPath}/bootstrap/dist/fonts/";
@import "@{bowerPath}/bootstrap/less/mixins.less";
@import "@{bowerPath}/bootstrap/less/list-group.less";
@import "@{bowerPath}/bootstrap/less/forms.less";
@import "@{bowerPath}/bootstrap/less/input-groups.less";
@import "@{bowerPath}/bootstrap/less/progress-bars.less";
@import "@{mockuplessPath}/ui.less";

/* specifying (less) here forces it to be included inline */
@import (less) "@{bowerPath}/select2/select2.css";


.pat-resourceregistry{
    .nav-tabs{
        a {
            color: black;
        }
    }
    .tab-pane.overrides{
        .list-group-item a{
            font-size: 11px; /* need to try and fit long strings */
        }
    }
    .resources.list-group{
        .list-group-item-warning{
            position: relative;

            input{
                width: 224px;
                position: absolute;
                right: 3px;
                top: 3px;
            }
        }
    }

    .resource-entry .form-group .pat-sortable li,
    .tab-pane.manual ul.js li:not(.list-group-item-warning),
    .tab-pane.manual ul.css li:not(.list-group-item-warning){
        cursor: move;
    }
}