<td><input type="checkbox" <% if(selected){ %> checked="checked" <% } %>/></td>
<td class="title">
  <a href="<%- getURL %>">
    <%- Title %>
  </a>
</td>
<td><%- ModificationDate %></td>
<td><%- EffectiveDate %></td>
<td><%- review_state %></td>
