@import '@{bowerPath}/bootstrap/less/variables.less'; // Modify this for custom colors, font-sizes, etc
@icon-font-path: '@{bowerPath}/bootstrap/dist/fonts/';
@import '@{bowerPath}/bootstrap/less/glyphicons.less';
@import '@{mockupPath}/select2/pattern.select2.less';
@import '@{bowerPath}/bootstrap/less/buttons.less';

.pattern-relateditems-dropdown {
  .select2-results {
    .select2-highlighted {
      color: #000;
      background: #d8d8d8;
    }

    .select2-selected {
      display: list-item;
    }
  }
}

.pattern-relateditems-active {
  padding: 5px;
  background-color: #ddd;
}

.pattern-relateditems-container {
  position: relative;
  display: inline-block;
}

.pattern-relateditems-path {
  font-size: 12px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 0 6px;
  color: #333;
  border: 1px solid #aaa;
  border-bottom-style: none;
  background-color: #f1f1f1;

  a {
    padding: 0 6px;
  }

  em {
    color: #666;
  }

  button.mode {
    .btn;
    .btn-xs;
    .btn-info;
  }

  button.favorites {
    .btn;
    .btn-xs;
    .btn-success;
  }
}

.pattern-relateditems-buttons {
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  margin-top: -16px;
  text-align: right;

  a {
    .glyphicon();
    .glyphicon-chevron-right();

    line-height: 36px;
    display: block;
    height: 36px;
  }
}

.pattern-relateditems-result {
  position: relative;
  padding-right: 30px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .pattern-relateditems-result-select {
    line-height: 15px;
    display: block;
    padding-top: 5px;
  }

  .pattern-relateditems-result-path {
    font-size: 11px;
    display: block;
    color: #444;
  }
}

.pattern-relateditems-item {
  .pattern-relateditems-item-path {
    font-size: 11px;
    display: block;
    color: #444;
  }
}
